src/main/app/example1-dataweavetransformer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="dataweaveTransformerFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/dataweavetransformer" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="a2700d65-a0ea-40f6-8254-3963724b6438">
            <dw:input-payload doc:sample="sample_data\Person.json" mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload ++
{
	formattedDate: payload.dateJoined as :localdatetime{format: "yyyy-MM-dd HH:mm"},
	formattedDate2: payload.dateJoined as :date{format: "yyyy-MM-dd HH:mm"}
}
]]></dw:set-payload>
        </dw:transform-message>
        <set-variable variableName="javaDate" value="#[payload.get(&quot;formattedDate&quot;)]" doc:name="Variable"/>
        
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>






</mule>
